<!-- Charts template file -->
<section id="charts" ref="charts" class="wrapper padding-horizontal-32 padding-bottom-32 margin-bottom-60">
  <h1 class="section-title margin-bottom-32">Charts</h1>
  <h2 id="charts-percent-bars" ref="charts-percent-bars" class="margin-bottom-8">PercentBars</h2>
  <pre class="flex items-center justify-center margin-bottom-32 padding-vertical-4 padding-horizontal-8">
    <p>PercentBars: () => import('@/components/common/charts/percent-bars/PercentBars.vue')</p>
  </pre>

  <div class="flex flex-row items-start margin-bottom-32">
    <p class="margin-right-12" :style="{ width: '200px' }">Basic</p>
    <div :style="{ width: '400px' }">
      <PercentBars v-for="item in charts.percentBars.simple"
        :key="item.id" 
        :id="item.id"
        :title="item.name"
        :total="100"
        :bars="item.data"
        :bars-color="style.colorPrimary">
      </PercentBars>
    </div>
  </div>

  <div class="flex flex-row items-start margin-bottom-32">
    <p class="margin-right-12" :style="{ width: '200px' }">Multiple</p>
    <div :style="{ width: '400px' }">
      <PercentBars v-for="item in charts.percentBars.multiple"
        :key="item.id"
        :id="item.id"
        :title="item.name"
        :total="100"
        :bars="item.data"
        :bars-color="['#ffcc33', '#007396', '#00546e']">
      </PercentBars>
    </div>
  </div>

  <div class="flex flex-row items-start margin-bottom-32">
    <p class="margin-right-12" :style="{ width: '200px' }">Filterable</p>
    <div :style="{ width: '400px' }">
      <PercentBars v-for="item in charts.percentBars.filterable"
        :key="item.id" 
        :id="item.id"
        :filterable="true"
        :active="item.active"
        :title="item.name"
        :total="100"
        :bars="item.data"
        :bars-color="style.colorPrimary"
        @select="onPercentBarSelect">
      </PercentBars>
    </div>
  </div>
</section>