/**
 *  DatePicker style file
**/

.date-picker-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;

  .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 32px;
    padding: 6px;
    background-color: $colorWhite;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba($colorPrimary, 0.12);
    cursor: pointer;
    transition: color 0.25s ease,
                background-color 0.25s ease;

    &.expanded {
      color: $colorWhite;
      background-color: $colorAccent;
      
      .date {
        .icon-container svg {
          fill: $colorWhite;
        }

        p {
          color: $colorWhite;
        }
      }
    }

    .date {
      display: flex;
      align-items: center;
      width: 100%;
      
      p {
        width: calc(100% - 40px);
        margin-left: 8px;
        @include font("milan");
        color: $colorHigh;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: color 0.25s ease;
      }
    }
  }

  * {
    will-change: height;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  .expand-enter-active,
  .expand-leave-active {
    transition: height 0.25s ease;
    overflow: hidden;
  }

  .expand-enter,
  .expand-leave-to {
    height: 0;
  }
}
