/**
 *  ToggleButton style file
**/

.toggle-button-container {
  &.auto-size {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: safe;
    width: 100%;

    .btn {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
    }
  }
}
